#about {
  height: 100vh;
  z-index: 1;
  background-color: black;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-image: url(../imgs/background1.png);
  background-position: right;
  background-repeat: no-repeat;
  color: white;
}

#tv {
  display: flex;
  grid-column: 4;
  grid-row: 2;
  flex-direction: column;
  justify-content: center;
}
#tv h2 {
  color: white;
  opacity: 100%;
  font-size: 15px;
  font-family: "Nunito", sans-serif;
  font-style: italic;
  width: 100%;
  text-align: center;
}

#tv div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

#tv div video {
  position: absolute;
  object-fit: cover;
  bottom: 0;
  padding: 5px;
  width: auto;
  height: 90%;
  border-radius: 0%;
  cursor: pointer;
}
#abouttitle{
    text-align:justify;
    font-size: 7rem;
    line-height: 90px;
    
}

#aboutheadtext{
    grid-area: 1/1 /1 /5;
    width:100%;
    padding-top: 5vw

}
#aboutsubtext{
    opacity: 100%;
    font-family: "Bebas Neue", sans-serif;
    font-style: italic;
    line-height: .5rem;
    letter-spacing: .3rem;
}

.tvframeanimation {
  animation: punch 0.4s ease 0s 1 normal forwards;
}

@keyframes punch {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-4deg);
  }

  30% {
    transform: translateX(15px) rotate(4deg);
  }

  45% {
    transform: translateX(-15px) rotate(-2.3deg);
  }

  60% {
    transform: translateX(9px) rotate(1.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1deg);
  }
}
