#about{
    height:100vh;
    z-index:1;
    background-color: black;
    overflow:hidden;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    background-image: url(../imgs/background1.png);
    background-position:right;
    background-repeat: no-repeat;
    color:white;
}

#tv{
    display: flex;
    grid-column: 4;
    grid-row: 2;
    flex-direction: column;
    
}
#tv h2{color:white;
    opacity:100%;
    font-size: 12px;

}

#tv div{
    display: block;
    width:100%;
    height:100%;
    position:relative;
}

#tv div video{
    position:absolute;
    object-fit: cover;
    bottom:0;
    right:0;
    padding:5px;
    width:auto;
    height:90%;
    border-radius: 0%;
    cursor:pointer;
}


.tvframeanimation{
    animation: punch .4s ease 0s 1 normal forwards;
}


@keyframes punch {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-4deg);
	}

	30% {
		transform: translateX(15px) rotate(4deg);
	}

	45% {
		transform: translateX(-15px) rotate(-2.3deg);
	}

	60% {
		transform: translateX(9px) rotate(1.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.0deg);
	}
}
