#contact{
    height:100vh;
    width:100%;
    display:block;
    background-color: blue;
}
form{
color:var(--white);
font-family: "Nunito", sans-serif;
}
#formcontainer{
    height:100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}